html{
    box-sizing: border-box;
}
#gridContainer{
    width:960px;
    height:960px;
    min-width: 960px;
    min-height: 960px;

}
.gridSquare{
    border-color: black;
    border-style: solid;
    min-width: 9.6px;
    min-height: 9.6px;
    max-width: 100px;
    max-height: 100px;
}
.flexRow{
    display: flex;
    border-color: black;
    min-width: 960px;
    min-height: 9.6px;
    max-width: 960px;
    max-height: 960px;
}

.activatedSquare{
    background-color:blue;
}